<p class="address" translate="no">
	{% if given_name or family_name %}
		{{ given_name }}
		{{ family_name }}
		
	{% endif %}
	{% if organization %}
		{{ organization }}
		
	{% endif %}
	{% if address_line1 %}
		{{ address_line1 }}
		
	{% endif %}
	{% if address_line2 %}
		{{ address_line2 }}
		
	{% endif %}
	{% if dependent_locality.code %}
		{{ dependent_locality.code }}
		
	{% endif %}
	{% if locality.code or postal_code or administrative_area.code %}
		{{ locality.code }}
		{{ postal_code }}
		{{ administrative_area.code }}
		
	{% endif %}
	{{ country.name }}
</p>

